.container {
  background-color: burlywood;
  padding: 10px;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.body {
  padding: 10px;
  background-color: blanchedalmond;
  border: 5px solid beige;
  border-radius: 10px;
}

.taskItem {
  display: flex;
  gap: 15px;
}

.taskDesc {
  padding: 5px;
  font-weight: bold;
  width: 20%;
}

.taskStatus {
  padding: 5px;
  color: red;
}

.taskStatus.completed {
  color: green;
}
